@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text&family=Prata&display=swap');

body{
    background-color: #babd8d;
    max-width: 1200px;
    margin: auto;
    font-family: 'Prata', serif;
}

header{
    background-color: #ffdac6;
    width: 150px;
    position: fixed;
    top: 25px;
    left: 25px;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
}

header h1{
    color: #fa9500;
}

nav h2{
    text-decoration: 3px underline #f283b6;
}


nav a{
    color: #fa9500;
}

nav{
    background-color: #809062;
    text-align: center;
    width: 150px;
    position: fixed;
    top: 125px;
    left: 25px;
    color: #ffdac6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 4px;
}

main{
    background-color: #e06c9f;
    margin-left: 160px; 
    width: 600px;
    text-align: right;
    color: #ffdac6; 
    padding: 5px;
}

main h1{
    color: #75835a;
    text-decoration: underline;
}

main img{
    border: 9px solid #f283b6;
}

main img:hover{
    border: 12px solid #fa9500;
}

#intro{
    text-align: center;
    margin: 5px;
}

p{
    text-align: center;
    padding: 15px;
    font-size: 14pt;

}

section{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    padding: 25px;
    border-right: 10px dotted #fa9500;
    border-left: 10px dotted #fa9500;
    border-top: 10px dotted #fa9500;
    border-bottom: 10px dotted #fa9500;
    font-family: 'Crimson Text', serif;
}

#music{
    background-color: #f283b6;
    color: #ffdac6;
    position:absolute;
    top: 400px;
    right: 20px;
    padding: 10px;
    width: 450px;
}

#music h2{
    color: #75835a;
    text-decoration: underline;
}

#music img{
    border: 5px solid #e06c9f;
}

#music img:hover{
    border: 10px solid #fa9500;
}

#drawings{
    background-color: #f283b6;
    color: #ffdac6;
    position: absolute;
    top: 3000px;
    right: 15px;
    padding: 10px;
    width: 450px;
}

#drawings img{
    border: 5px solid #e06c9f;
}

#drawings img:hover{
    border: 10px solid #fa9500;
}

#drawings h2{
    color: #75835a;
    text-decoration: underline;
}

footer{
    background-color: #ffdac6;
    position: relative;
    right: 50px;
    bottom: 50px;
    width: 150px;
    color: #fa9500;
}